---

---

<footer class="bg-[#001D3D] flex flex-col justify-center max-sm:text-center">
    <div>
        <div class="flex justify-around items-center h-[100px]">
            <p class="text-2xl font-semibold text-[#7F56D9]">CONEX</p>
            <div class="flex gap-5">
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-instagram"
                    width="34"
                    height="34"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#7F56D9"
                    fill="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path
                        d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"
                    ></path>
                    <path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0"></path>
                    <path d="M16.5 7.5l0 .01"></path>
                </svg>
                <svg
                    xmlns="http://www.w3.org/2000/svg"
                    class="icon icon-tabler icon-tabler-brand-x"
                    width="34"
                    height="34"
                    viewBox="0 0 24 24"
                    stroke-width="1.5"
                    stroke="#7F56D9"
                    fill="currentColor"
                    stroke-linecap="round"
                    stroke-linejoin="round"
                >
                    <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                    <path d="M4 4l11.733 16h4.267l-11.733 -16z"></path>
                    <path d="M4 20l6.768 -6.768m2.46 -2.46l6.772 -6.772"></path>
                </svg>
            </div>
        </div>
        <div
            class="border-t border-t-[#6B7280] w-[70rem] flex justify-center items-center m-auto max-sm:w-auto"
        >
        </div>
        <div class="flex justify-center items-center h-[80px]">
            <p class="p-5 text-[#6B7280]">
                &copy;Copyright 2024, All Rights Reserved by Agvs
            </p>
        </div>
    </div>
</footer>
